@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: rgb(2, 18, 6);
font-size: 45px;
font-weight: 600;
line-height: 68px;
letter-spacing: 0%;
}



.background{
    background-color: rgb(255, 255, 255);
}


.container{
    max-width: 1600px;
    margin: auto;
    
}

header{
    margin-top: 50px;
    margin-right: 200px;
    margin-left: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul {
    display: flex;
    list-style: none;
    gap: 50px;
  }
  li {
    text-decoration: none;
  }
a{
    color: rgb(2, 18, 6);
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration: none;
 
}

a:hover{
  cursor: pointer;
  color: blue;
}

.p_18{
    margin-right: 218px;
}

.log_sig{
    display: flex;
    gap: 18px;
}

#soft{
    color: rgb(36, 220, 159);
font-size: 20px;
font-weight: 600;
line-height: 30px;
letter-spacing: 0%;
text-align: left;
}

header> .log_sig, button{
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0%;
}

a{
    color: rgb(2, 18, 6);
font-size: 18px;
font-weight: 400;
line-height: 27px;
letter-spacing: 0%;
}
.sign{
    padding: 15px 30px;
    background-color: rgb(244, 69, 69);
}

.with{
    color: rgb(36, 220, 159);
}

.hero_con{
    margin-top: 120px;
    margin-right: 50px;
    margin-left: 200px;
}

.input> input{
    outline: none;
}

.life{
    width: 487px;
}


.p_21px{
    color: rgb(2, 18, 6);
font-size: 21px;
font-weight: 500;
line-height: 160%;
letter-spacing: 0%;
width: 509px;

}

.left> .p_21px{
    padding-top: 25px;
    padding-bottom: 31px;
}

input{
    color: rgb(2, 18, 6);
font-size: 18px;
font-weight: 400;
line-height: 27px;
letter-spacing: 0%;
padding: 19px 24px;
}

.send{
    padding: 11px 33px;
    background-color: rgb(244, 69, 69);
    border-radius: 6px;
    position: absolute;
    top: 19px;
    border: 1px solid rgb(244, 69, 69) ;
    margin-left: 120px;
}

.input{
    width: 472px;
position: relative;
    border-radius: 6px;
    outline: none;
    background-color: rgb(255, 255, 255);
    border: 1px solid white;
    }

    #Enter{
        border: none;
    }

    .hero_con{
        display: flex;
 gap: 80px;
    }

    .right{
        position: relative;
    }


    .middl_chil{
        position: absolute;
        top: 40px;
        right: 193px;
    }
    .phone{
        position: absolute;
     top: 130px;
     right: 670px;
    }

    .sun{
        position: absolute;
        right: 577px;
        top: -90px;
    }

    .green{
        position: absolute;
        right: 0;
        top: 290px;
        left: 540px;
    }


    .middl_chil{ 
        position: absolute; 
        top: 40px; 
        right: 95px; 
    } 
    .phone{ 
        position: absolute; 
     top: 130px; 
     right: 600px; 
    } 
 
    .sun{ 
        position: absolute; 
        right: 500px; 
        top: -90px; 
    } 
 
    .green{ 
        position: absolute; 
        right: 0; 
        top: 290px; 
        left: 540px; 
    } 
 
    .middl_chil{ 
        width: 555px; 
    } 
 
     
    .icons{ 
        margin-top: 133px; 
        display: flex;
        gap: 85px;
        padding: 53px 227px;
    }

    .background_2{
        background-color: rgb(142, 230, 201);
    }

    